body {
  background-color: black;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#special-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color:white;
  text-align: center;
}

#glow-text {
  color: white;
  font-size: 7em;
  font-family: 'Jomolhari', serif;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
#glow-text:hover {
  color: rgb(162,53,67);
  -webkit-animation: none;
  animation: none;
}


#glow-text:hover {
  color: rgb(162,53,67);
}



/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(162,53,67), 0 0 70px rgb(162,53,67), 0 0 80px rgb(162,53,67), 0 0 100px rgb(162,53,67), 0 0 150px rgb(162,53,67);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(162,53,67), 0 0 35px rgb(162,53,67), 0 0 40px rgb(162,53,67), 0 0 50px rgb(162,53,67), 0 0 75px rgb(162,53,67);
  }
}

/*glow for mozilla*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(162,53,67), 0 0 70px rgb(162,53,67), 0 0 80px rgb(162,53,67), 0 0 100px rgb(162,53,67), 0 0 150px rgb(162,53,67);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(162,53,67), 0 0 35px rgb(162,53,67), 0 0 40px rgb(162,53,67), 0 0 50px rgb(162,53,67), 0 0 75px rgb(162,53,67);
  }
}

@media (max-width: 650px) {
  #glow-text {
    font-size: 3.5em;
  }
}