@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');


.topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #333;
  z-index: 1;
  transition: .5s ease-in-out;
}

header {
  display: block;
  justify-content: space-between;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  transition: .15s ease-in-out;
}

#sneaker-logo {
  height: 50px;
  width: 70px;
  margin-left: 10px;

  filter: grayscale(0%);
}

#sneaker-logo:hover {
  filter: grayscale(100%);
}

#home-link {
	float: left;
  padding: 0;
  margin: 0;
}

a {
  float: right;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #0C77F3;
  border-bottom: 4px solid;
  border-color: #7d7d7d;
}

.topnav #home-link:hover {
	background-color: transparent;
  border: none;
}

.topnav #home-link:active {
  border: none;
}

/* Add a color to the active/current link */
.topnav a.active {
  border-bottom: 4px solid;
  border-color: #0C77F3;
  color: white;
}

/* ------- popup styling -------- */

.cart {
  position: fixed;
  top: 57px;
  right: 0;
  padding: 10px;
  width: 25%;
  background: lightgrey;
}

