body {
  background-color: black;
  font-family: 'Mulish', sans-serif;
  margin: 0;
}

#rental-body {
  display: flex;
  flex-direction: column;
}

footer {
  bottom: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

footer > p {
  text-align: center;
  font-size: 18px;
  color: white;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#special-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color:white;
  text-align: center;
}

#glow-text {
  color: white;
  font-size: 6em;
  text-transform: uppercase;
  font-family: 'Jomolhari', serif;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

/* coded added from previous -------------------------------------------------------------------- */

/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0C77F3, 0 0 70px #0C77F3, 0 0 80px #0C77F3, 0 0 100px #0C77F3, 0 0 150px #0C77F3;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0C77F3, 0 0 35px #0C77F3, 0 0 40px #0C77F3, 0 0 50px #0C77F3, 0 0 75px #0C77F3;
  }
}

/*glow for mozilla*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0C77F3, 0 0 70px #0C77F3, 0 0 80px #0C77F3, 0 0 100px #0C77F3, 0 0 150px #0C77F3;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0C77F3, 0 0 35px #0C77F3, 0 0 40px #0C77F3, 0 0 50px #0C77F3, 0 0 75px #0C77F3;
  }
}

@media (max-width: 650px) {
  #glow-text {
    font-size: 3.5em;
  }
}


 /* -------------- SEARCH BAR --------------- */
input {
  margin-left: 60px;
  margin-top: 80px;
  box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.05);
  border: 0px solid transparent;
  border-radius: 3px 0 0 3px;
  height: 40px;
  transition: all .2s ease;
  width: 300px;

  &::placeholder {
      color: #B3B3B3;
  }

  &:focus {
      outline: none;
      box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.2);
  }
}

#search-btn {
  height: 40px;
  border: 1px solid #0C77F3;
  background: #0C77F3;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
}

#filter {
  height: 40px;
  border: 1px solid #0C77F3;
  border-left: 1px solid #fff;
  text-align: center;
  color: white;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  font-size: 14px;
  background: #0C77F3;
  width: 125px;
}

option {
  background-color: white;
  color: black;
}